USE [sms]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 5/29/2019 11:18:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SinhVienID] [int] NOT NULL,
	[LopHocPhanID] [int] NULL,
	[Ngay] [date] NOT NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_dbo.DiemDanh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHocKy] [nvarchar](50) NULL,
	[Id_Namhoc] [int] NULL,
 CONSTRAINT [PK_dbo.HocKy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHocPhan] [nvarchar](100) NULL,
	[SoDVHT] [int] NULL,
 CONSTRAINT [PK_dbo.HocPhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan_HocKy]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan_HocKy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HocKyID] [int] NOT NULL,
	[HocPhanID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HocPhan_HocKy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NULL,
	[IDView] [nvarchar](100) NULL,
	[NienKhoaID] [int] NULL,
 CONSTRAINT [PK_dbo.Lop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLopHocPhan] [nvarchar](100) NULL,
	[IDView] [nvarchar](100) NULL,
	[HocPhanID] [int] NULL,
	[HocKyID] [int] NULL,
 CONSTRAINT [PK_dbo.LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BatDau] [date] NULL,
	[KetThuc] [date] NULL,
	[Code] [nchar](20) NULL,
 CONSTRAINT [PK_dbo.NamHoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NienKhoa]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NienKhoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDView] [nvarchar](50) NULL,
	[Ten] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.NienKhoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [int] NULL,
	[LopID] [int] NULL,
	[image] [binary](8000) NULL,
 CONSTRAINT [PK_dbo.SinhVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SV_LHP]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV_LHP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SinhVienID] [int] NULL,
	[LopHocPhanID] [int] NULL,
	[Diem1] [decimal](4, 2) NULL,
	[Diem2] [decimal](4, 2) NULL,
	[Diem3] [decimal](4, 2) NULL,
 CONSTRAINT [PK_dbo.SV_LHP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiemDanh] ON 

INSERT [dbo].[DiemDanh] ([ID], [SinhVienID], [LopHocPhanID], [Ngay], [TinhTrang]) VALUES (1, 6, 5, CAST(N'2019-05-28' AS Date), 1)
SET IDENTITY_INSERT [dbo].[DiemDanh] OFF
SET IDENTITY_INSERT [dbo].[HocKy] ON 

INSERT [dbo].[HocKy] ([ID], [TenHocKy], [Id_Namhoc]) VALUES (1, N'HK1', 1)
INSERT [dbo].[HocKy] ([ID], [TenHocKy], [Id_Namhoc]) VALUES (2, N'HK2', 1)
INSERT [dbo].[HocKy] ([ID], [TenHocKy], [Id_Namhoc]) VALUES (3, N'HK Hè', 1)
SET IDENTITY_INSERT [dbo].[HocKy] OFF
SET IDENTITY_INSERT [dbo].[HocPhan] ON 

INSERT [dbo].[HocPhan] ([ID], [TenHocPhan], [SoDVHT]) VALUES (1, N'Toán rời rạc ', 2)
INSERT [dbo].[HocPhan] ([ID], [TenHocPhan], [SoDVHT]) VALUES (2, N'Điện tử số', 2)
INSERT [dbo].[HocPhan] ([ID], [TenHocPhan], [SoDVHT]) VALUES (3, N'Ngôn ngữ lập trình 2', 3)
SET IDENTITY_INSERT [dbo].[HocPhan] OFF
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([ID], [TenLop], [IDView], [NienKhoaID]) VALUES (1, N'Công nghệ thông tin 15', N'1', 1)
INSERT [dbo].[Lop] ([ID], [TenLop], [IDView], [NienKhoaID]) VALUES (2, N'Mạng máy tính ', N'1', 2)
INSERT [dbo].[Lop] ([ID], [TenLop], [IDView], [NienKhoaID]) VALUES (3, N'Tự động hóa 15', N'12312', 2)
SET IDENTITY_INSERT [dbo].[Lop] OFF
SET IDENTITY_INSERT [dbo].[LopHocPhan] ON 

INSERT [dbo].[LopHocPhan] ([ID], [TenLopHocPhan], [IDView], [HocPhanID], [HocKyID]) VALUES (3, N'Ngôn ngữ lập trình 2-31', N'31', 3, 4)
INSERT [dbo].[LopHocPhan] ([ID], [TenLopHocPhan], [IDView], [HocPhanID], [HocKyID]) VALUES (5, N'Điện tử số-8', N'8', 2, 1)
INSERT [dbo].[LopHocPhan] ([ID], [TenLopHocPhan], [IDView], [HocPhanID], [HocKyID]) VALUES (8, N'Điện tử số-8', N'8', 2, 4)
SET IDENTITY_INSERT [dbo].[LopHocPhan] OFF
SET IDENTITY_INSERT [dbo].[NamHoc] ON 

INSERT [dbo].[NamHoc] ([ID], [BatDau], [KetThuc], [Code]) VALUES (1, CAST(N'2018-01-01' AS Date), CAST(N'2019-01-02' AS Date), N'2018 - 2019         ')
INSERT [dbo].[NamHoc] ([ID], [BatDau], [KetThuc], [Code]) VALUES (2, CAST(N'2017-12-01' AS Date), CAST(N'2018-12-01' AS Date), N'2017 - 2018         ')
SET IDENTITY_INSERT [dbo].[NamHoc] OFF
SET IDENTITY_INSERT [dbo].[NienKhoa] ON 

INSERT [dbo].[NienKhoa] ([ID], [IDView], [Ten]) VALUES (1, N'123', N'K15')
INSERT [dbo].[NienKhoa] ([ID], [IDView], [Ten]) VALUES (2, N'2', N'k14')
SET IDENTITY_INSERT [dbo].[NienKhoa] OFF
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

SET IDENTITY_INSERT [dbo].[SinhVien] OFF
SET IDENTITY_INSERT [dbo].[SV_LHP] ON 

INSERT [dbo].[SV_LHP] ([ID], [SinhVienID], [LopHocPhanID], [Diem1], [Diem2], [Diem3]) VALUES (7, 6, 5, CAST(10.00 AS Decimal(4, 2)), CAST(3.00 AS Decimal(4, 2)), CAST(10.00 AS Decimal(4, 2)))
INSERT [dbo].[SV_LHP] ([ID], [SinhVienID], [LopHocPhanID], [Diem1], [Diem2], [Diem3]) VALUES (8, 7, 11, CAST(3.00 AS Decimal(4, 2)), CAST(7.00 AS Decimal(4, 2)), CAST(10.00 AS Decimal(4, 2)))
INSERT [dbo].[SV_LHP] ([ID], [SinhVienID], [LopHocPhanID], [Diem1], [Diem2], [Diem3]) VALUES (9, 6, 9, CAST(0.00 AS Decimal(4, 2)), CAST(0.00 AS Decimal(4, 2)), CAST(10.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[SV_LHP] OFF
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiemDanh_dbo.LopHocPhan_LopHocPhanID] FOREIGN KEY([LopHocPhanID])
REFERENCES [dbo].[LopHocPhan] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_dbo.DiemDanh_dbo.LopHocPhan_LopHocPhanID]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiemDanh_dbo.SinhVien_SinhVienID] FOREIGN KEY([SinhVienID])
REFERENCES [dbo].[SinhVien] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_dbo.DiemDanh_dbo.SinhVien_SinhVienID]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HocKy_dbo.NamHoc_Id_Namhoc] FOREIGN KEY([Id_Namhoc])
REFERENCES [dbo].[NamHoc] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [FK_dbo.HocKy_dbo.NamHoc_Id_Namhoc]
GO
ALTER TABLE [dbo].[HocPhan_HocKy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HocPhan_HocKy_dbo.HocKy_HocKyID] FOREIGN KEY([HocKyID])
REFERENCES [dbo].[HocKy] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HocPhan_HocKy] CHECK CONSTRAINT [FK_dbo.HocPhan_HocKy_dbo.HocKy_HocKyID]
GO
ALTER TABLE [dbo].[HocPhan_HocKy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HocPhan_HocKy_dbo.HocPhan_HocPhanID] FOREIGN KEY([HocPhanID])
REFERENCES [dbo].[HocPhan] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HocPhan_HocKy] CHECK CONSTRAINT [FK_dbo.HocPhan_HocKy_dbo.HocPhan_HocPhanID]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lop_dbo.NienKhoa_NienKhoaID] FOREIGN KEY([NienKhoaID])
REFERENCES [dbo].[NienKhoa] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_dbo.Lop_dbo.NienKhoa_NienKhoaID]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LopHocPhan_dbo.HocKy_HocKyID] FOREIGN KEY([HocKyID])
REFERENCES [dbo].[HocKy] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_dbo.LopHocPhan_dbo.HocKy_HocKyID]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LopHocPhan_dbo.HocPhan_HocPhanID] FOREIGN KEY([HocPhanID])
REFERENCES [dbo].[HocPhan] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_dbo.LopHocPhan_dbo.HocPhan_HocPhanID]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SinhVien_dbo.Lop_LopID] FOREIGN KEY([LopID])
REFERENCES [dbo].[Lop] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_dbo.SinhVien_dbo.Lop_LopID]
GO
ALTER TABLE [dbo].[SV_LHP]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SV_LHP_dbo.LopHocPhan_LopHocPhanID] FOREIGN KEY([LopHocPhanID])
REFERENCES [dbo].[LopHocPhan] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SV_LHP] CHECK CONSTRAINT [FK_dbo.SV_LHP_dbo.LopHocPhan_LopHocPhanID]
GO
ALTER TABLE [dbo].[SV_LHP]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SV_LHP_dbo.SinhVien_SinhVienID] FOREIGN KEY([SinhVienID])
REFERENCES [dbo].[SinhVien] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SV_LHP] CHECK CONSTRAINT [FK_dbo.SV_LHP_dbo.SinhVien_SinhVienID]
GO
/****** Object:  StoredProcedure [dbo].[ChiTiet]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChiTiet]
	@idlhp int, @idsv int
as
begin
	select Ngay N'Ngày', 
	case 
		when TinhTrang=1 then N'Nghỉ'
		when TinhTrang = 0 then N'Đi học'
	end as N'Tình trạng'
	from DiemDanh
	where LopHocPhanID=@idlhp and SinhVienID=@idsv
end

GO
/****** Object:  StoredProcedure [dbo].[DanhSachThi]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[DanhSachThi]
	@idlop int
as
begin
	with tmp as(
		select sv.ID
		from SinhVien sv
		join DiemDanh b on (sv.ID=b.SinhVienID)
		where b.LopHocPhanID=@idlop
		group by sv.id
		having sum(b.TinhTrang)<4
	) 
	select sv.HoTen as N'Họ và tên', sv.id N'Mã sinh viên',l.IDView N'Lớp', sv.NgaySinh N'Ngày sinh',
	Case 
		when GioiTinh=1 Then N'Nam'
		when GioiTinh=0 Then N'Nữ'
	end as N'Giới tính' , Diem1 N'Điểm CC', Diem2 N'Điểm TX', Case 
		when Diem3=0 Then null
		when Diem3!=0 Then Diem3
	end N'Thi', NULL as N'Tổng'
	from SinhVien sv
	join Lop l on sv.LopID = l.ID
	join SV_LHP a on (sv.ID=a.SinhVienID)
	left join tmp on (tmp.ID=sv.ID)
	 where a.LopHocPhanID=@idlop and Diem1>=4 and Diem2>=4  

end
GO
/****** Object:  StoredProcedure [dbo].[GetDate]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetDate]
	@idlop int
as
begin
	select ngay
	from DiemDanh dd
	where dd.LopHocPhanID=@idlop
	group by dd.Ngay
	order by Ngay asc
end
GO
/****** Object:  StoredProcedure [dbo].[GetMaxDate]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetMaxDate]
	@idlop int
as
begin
	select top 1 count( distinct ngay), ngay
	from DiemDanh dd
	where dd.LopHocPhanID=@idlop
	group by dd.Ngay
	order by Ngay desc
end


GO
/****** Object:  StoredProcedure [dbo].[ListSVLHP]    Script Date: 5/29/2019 11:18:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListSVLHP] 
	@idLop int
as
begin
with tmp as(
		select sv.ID, sum(b.TinhTrang) nghi
		from SinhVien sv
		join DiemDanh b on (sv.ID=b.SinhVienID)
		where b.LopHocPhanID=@idLop
		group by sv.id
	)
	select sv.HoTen as N'Họ và tên', sv.id N'Mã sinh viên',l.IDView N'Lớp', sv.NgaySinh N'Ngày sinh',
	Case 
		when GioiTinh=1 Then N'Nam'
		when GioiTinh=0 Then N'Nữ'
	end as N'Giới tính' , Diem1 N'Điểm CC', Diem2 N'Điểm TX', Diem3 N'Thi',(dd.nghi) N'Số buổi nghỉ'
	from SinhVien sv
	join Lop l on sv.LopID = l.ID
	join SV_LHP a on (sv.ID=a.SinhVienID)
	left join tmp dd on (dd.ID=sv.ID)
	
	 where a.LopHocPhanID=@idlop 
end

GO
