USE [master]
GO
/****** Object:  Database [FaceDB]    Script Date: 2/28/2019 7:13:48 PM ******/
CREATE DATABASE [FaceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FaceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaceDB]
GO
/****** Object:  User [diemdanh]    Script Date: 2/28/2019 7:13:48 PM ******/
CREATE USER [diemdanh] FOR LOGIN [diemdanh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [abc]    Script Date: 2/28/2019 7:13:48 PM ******/
CREATE USER [abc] FOR LOGIN [abc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [diemdanh]
GO
ALTER ROLE [db_owner] ADD MEMBER [abc]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 2/28/2019 7:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MSV] [varchar](10) NOT NULL,
	[IDMaLopHP] [varchar](10) NOT NULL,
	[NgayDD] [date] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC,
	[IDMaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[IDHocKy] [varchar](10) NOT NULL,
	[TenHocKy] [nvarchar](200) NOT NULL,
	[Nam] [int] NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[IDHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[IDHocPhan] [varchar](10) NOT NULL,
	[TenHocPhan] [nvarchar](200) NOT NULL,
	[SoTC] [int] NOT NULL,
	[IDHocKy] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[IDHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[IDLopCN] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](200) NOT NULL,
	[IDNienKhoa] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[IDLopCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[IDMaLopHP] [varchar](10) NOT NULL,
	[IDHocPhan] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LopHocPhan_1] PRIMARY KEY CLUSTERED 
(
	[IDMaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NienKhoa]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NienKhoa](
	[IDNienKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NienKhoa] PRIMARY KEY CLUSTERED 
(
	[IDNienKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [int] NULL,
	[Image] [image] NULL,
	[IDLopCN] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien_LopHocPhan]    Script Date: 2/28/2019 7:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_LopHocPhan](
	[MSV] [varchar](10) NOT NULL,
	[IDMaLopHP] [varchar](10) NOT NULL,
	[DiemCC] [int] NOT NULL,
	[DiemTX] [int] NOT NULL,
	[DiemCKy] [int] NOT NULL,
 CONSTRAINT [PK_SinhVien_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MSV] ASC,
	[IDMaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lop] ([IDLopCN], [TenLop], [IDNienKhoa]) VALUES (N'CNTT15', N'Cong nghe thong tin 15', N'3')
INSERT [dbo].[Lop] ([IDLopCN], [TenLop], [IDNienKhoa]) VALUES (N'demo', N'ahihi', N'5')
INSERT [dbo].[Lop] ([IDLopCN], [TenLop], [IDNienKhoa]) VALUES (N'DT17', N'Dien tu 17', N'5')
INSERT [dbo].[NienKhoa] ([IDNienKhoa], [TenKhoa]) VALUES (N'1', N'K13')
INSERT [dbo].[NienKhoa] ([IDNienKhoa], [TenKhoa]) VALUES (N'2', N'K14')
INSERT [dbo].[NienKhoa] ([IDNienKhoa], [TenKhoa]) VALUES (N'3', N'K15')
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_LopHocPhan1] FOREIGN KEY([IDMaLopHP])
REFERENCES [dbo].[LopHocPhan] ([IDMaLopHP])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_LopHocPhan1]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_SinhVien] FOREIGN KEY([MSV])
REFERENCES [dbo].[SinhVien] ([MSV])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_SinhVien]
GO
ALTER TABLE [dbo].[HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_HocPhan_HocKy] FOREIGN KEY([IDHocKy])
REFERENCES [dbo].[HocKy] ([IDHocKy])
GO
ALTER TABLE [dbo].[HocPhan] CHECK CONSTRAINT [FK_HocPhan_HocKy]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_NienKhoa] FOREIGN KEY([IDNienKhoa])
REFERENCES [dbo].[NienKhoa] ([IDNienKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_NienKhoa]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocPhan] FOREIGN KEY([IDHocPhan])
REFERENCES [dbo].[HocPhan] ([IDHocPhan])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocPhan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([IDLopCN])
REFERENCES [dbo].[Lop] ([IDLopCN])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[SinhVien_LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHocPhan_LopHocPhan1] FOREIGN KEY([IDMaLopHP])
REFERENCES [dbo].[LopHocPhan] ([IDMaLopHP])
GO
ALTER TABLE [dbo].[SinhVien_LopHocPhan] CHECK CONSTRAINT [FK_SinhVien_LopHocPhan_LopHocPhan1]
GO
ALTER TABLE [dbo].[SinhVien_LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHocPhan_SinhVien] FOREIGN KEY([MSV])
REFERENCES [dbo].[SinhVien] ([MSV])
GO
ALTER TABLE [dbo].[SinhVien_LopHocPhan] CHECK CONSTRAINT [FK_SinhVien_LopHocPhan_SinhVien]
GO
USE [master]
GO
